{% load blog_tags keyword_tags i18n future %}

{% block blog_recent_posts %}
{% blog_recent_posts 5 as recent_posts %}
{% if recent_posts %}
<h3>{% trans "Recent Posts" %}</h3>
<ul class="unstyled recent-posts">
{% for recent_post in recent_posts %}
<li><a href="{{ recent_post.get_absolute_url }}"
    >{{ recent_post.title }}</a><br>
    <div>{{ recent_post.description_from_content|safe }}</div>
    <span class="timespan">{% blocktrans with sometime=recent_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}</span></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}



