<!DOCTYPE html>
{% load pages_tags mezzanine_tags i18n future %}<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="author" content="Jackson Gothe-Snape @jacksongs"/>
    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- end: Mobile Specific -->

    <!-- start: Facebook Open Graph -->
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <!-- end: Facebook Open Graph -->

    <!-- start: CSS --><link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    {% compress css %}
    <link href="{{ STATIC_URL }}css/glyphicons.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/halflings.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/font-awesome-ie7.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/social-icons.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/swatchmaker.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/swatchmaker-responsive.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9 ]>
      <link href="css/styleIE.css" rel="stylesheet">
    <![endif]-->
    
    <!--[if IE 9 ]>
      <link href="css/styleIE9.css" rel="stylesheet">
    <![endif]-->
    
    <!-- end: CSS -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}
    {% endcompress %}


{% block extra_head %}{% endblock %}

</head>
<body>

    <!--start: Header -->
    <header>

        <!--start: Container -->
        <div class="container">
            
            <!--start: Navigation -->
            <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                {% if settings.SITE_TITLE %}<a class="brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
                <div>
                    <ul class="nav">
                    {% page_menu "pages/menus/dropdown.html" %}
                    </ul>
                </div>
            <div class="icons pull-right hidden-phone">
            <a href="http://vimeo.com/jacksongs" class="social-vimeo"></a>
            <a href="http://twitter.com/jacksongs" class="social-twitter"></a>
            <a href="http://instagram.com/jacksongs" class="social-instagram"></a>
            <a href="http://www.facebook.com/jacksongs" class="social-facebook"></a>
            <a href="http://au.linkedin.com/in/jacksongs" class="social-linkedin"></a>
            </div>
            <div class="navbar-search hidden-phone">
            {% search_form %}
            </div>
        </div>
    </div>
</div>

</header>
<div class="container">

{% nevercache %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}" data-alert="alert">
    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
    </div>
{% endfor %}
{% endnevercache %}

</div>

<div class="container">


{% block main %}{% endblock %}
</div>

<div id="footer">
    <div id="footerbox">
    <div class="container">
        <div class="row-fluid">
            <div class="span3">
                <h3><i class="glyphicons-icon white user hidden-tablet"></i>about me</h3>
                <ul class="arrow_list">
                    <li>Code wrangler and angle chaser</li>
                    <li>Canberra-dwelling bush-ranger</li>
                    <li>Corporate law and government suits currently in storage</li>
                    <li>Dogless, dog-loving people person</li>
                </ul>
                <hr class="visible-phone">
            </div>   
            <div class="span3">
                <h3>
                <i class="glyphicons-icon white twitter hidden-tablet"></i>
                latest tweet
                </h3>
                {% block tweets %}
                {% ifinstalled mezzanine.twitter %}
                {% include "twitter/tweets.html" %}
                {% endifinstalled %}
                {% endblock %}
                <hr class="visible-phone">
            </div>       
            <div class="span3">
                
                <h3><i class="glyphicons-icon white vimeo hidden-tablet"></i>from vimeo</h3>
            
                
                <style id="badge-styles">
                /* You can modify these CSS styles */
                .vimeoBadge { margin: 0; padding: 0; font: normal 11px verdana,sans-serif; }
                .vimeoBadge img { width:100%; border: 0}
                .vimeoBadge a, .vimeoBadge a:link, .vimeoBadge a:visited, .vimeoBadge a:active { color: #3A75C4; text-decoration: none; cursor: pointer; }
                .vimeoBadge a:hover { color:#00CCFF; }
                .vimeoBadge #vimeo_badge_logo { margin-top:10px; width: 57px; height: 16px; }
                .vimeoBadge .credit { font: normal 11px verdana,sans-serif; }

                .vimeoBadge.vertical .clip { float: none; }
                .vimeoBadge .caption { font: normal 11px verdana,sans-serif; overflow:hidden; width: auto; height: 30px; }
                .vimeoBadge .clear { display: block; clear: both; visibility: hidden; }
                .vimeoBadge .s160 { width: 160px; } .vimeoBadge .s80 { width: 80px; } .vimeoBadge .s100 { width: 100px; } .vimeoBadge .s200 { }
                </style><div id="badge">
                <div><div class="vimeoBadge horizontal">
                <script src="https://vimeo.com/jacksongs/badgeo/?script=1&badge_layout=horizontal&badge_quantity=1&badge_size=200&badge_stream=uploaded&show_titles=no"></script>
                </div>
                </div>

            </div>
            <hr class="visible-phone">
            </div>     
            <div class="span3">
                <h3><i class="glyphicons-icon white home hidden-tablet"></i>these digs</h3>
                <ul class="arrow_list">
                    <li>Built with Aussie-made Mezzanine, atop Django, from Python</li>
                    <li>Served by Heroku and AWS S3</li>
                    <li>Front-end built with LESS and Bootstrap</li>
                    <li>Repo available at <a href="http://github.com/jacksongs">github</a></li>
                </ul>
                <hr class="visible-phone">
            </div>
        </div>

    <!--start: Container -->
                <div class="container visible-phone">
                    
                    <div class="foot">
                    <a href="http://vimeo.com/jacksongs" class="social-vimeo"></a>
                    <a href="http://twitter.com/jacksongs" class="social-twitter"></a>
                    <a href="http://instagram.com/jacksongs" class="social-instagram"></a>
                    <a href="http://www.facebook.com/jacksongs" class="social-facebook"></a>
                    <a href="http://au.linkedin.com/in/jacksongs" class="social-linkedin"></a>
                    </div>
                    <div class="foot">
                    {% search_form %}
                    </div>
                </div>
        </div>


    <div id="under-footer">
        
        <!-- start: Container -->
        <div class="container">
            
            <!-- start: Row -->
            <div class="row-fluid">

                <!-- start: Under Footer Copyright -->

                <div class="span11 foot">
                    
                    <div id="under-footer-copyright">
                    <small><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>&nbsp;&nbsp;Excluding images/video, you can use and share parts of this website under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</small>
                    </div>
                    
                </div>
                <!-- end: Under Footer Copyright -->

                <!-- start: Under Footer Back To Top -->
                <div class="span1">
                        
                    <div id="under-footer-back-to-top">
                        <a href="#"></a>
                    </div>
                
                </div>
                <!-- end: Under Footer Back To Top -->
            
            </div>
            <!-- end: Row -->
            
        </div>  
        <!-- end: Container  -->
        
    </div>
    <!-- end: Under Footer -->  
        </div>
</div>
<p></p>

{% compress js %}
<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery-1.8.2.js"></script>

{% endcompress %}
<!-- end: Java Script -->
</body>

</html>
