{% extends "base.html" %}
{% load blog_tags future mezzanine_tags i18n %}

{% block meta_title %}{% trans "home" %}{% endblock %}


{% block breadcrumb_menu %}
<li class="active">{% trans "ome" %}</li>
{% endblock %}



{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "in parts" %}
{% endif %}
{% endblock %}

{% block main %}

<div id="wrapper">

	<div id="filters">
		<ul class="option-set" data-option-key="filter">
			<li><a href="#filter" data-option-value=".art">art</a></li>
			<li>/</li>
			<li><a href="#filter" data-option-value=".code">code</a></li>
			<li>/</li>
			<li><a href="#filter" data-option-value=".law">law</a></li>
			<li>/</li>
			<li><a href="#filter" data-option-value=".media">media</a></li>
			<li>/</li>
			<li><a href="#filter" data-option-value=".sport">sport</a></li>
			<li>/</li>
			<li><a href="#filter" class="selected" data-option-value="*">all</a></li>


			
		</ul>
	</div>

	<!-- start: Portfolio -->
	<div id="wall" class="row-fluid">


	{% blog_recent_posts limit=5 as recent_posts %}
	{% if recent_posts %}
	{% for post in recent_posts %}
	<div class="span3 item{% for hit in post.categories.all %} {{ hit }}{% endfor %}">
		<div class="picture">
		{% if post.featured_image %}
        <a class="image" href="{{ post.get_absolute_url }}"><img src="{{ MEDIA_URL }}{% thumbnail post.featured_image 200 0 %}"/>
        {% endif %}
    	</div>
		<div class="description">
			<h3>{{ post.title }}</h3></a>
			{{ post.description_from_content|safe }}
		</div>
	</div>

	{% endfor %}
	{% endif %}

	</div>
</div>
</div>
<div class = "scripts">
<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery-1.8.2.js"></script>
<script src="{{ STATIC_URL }}js/isotope.js"></script>
<script src="{{ STATIC_URL }}js/jquery.imagesloaded.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/flexslider.js"></script>
<script src="{{ STATIC_URL }}js/carousel.js"></script>
<script src="{{ STATIC_URL }}js/jquery.cslider.js"></script>
<script src="{{ STATIC_URL }}js/slider.js"></script>
<script src="{{ STATIC_URL }}js/fancybox.js"></script>
<script src="{{ STATIC_URL }}js/twitter.js"></script>
<script src="{{ STATIC_URL }}js/jquery.placeholder.min.js"></script>

<script src="{{ STATIC_URL }}js/jquery-easing-1.3.js"></script>
<script src="{{ STATIC_URL }}js/layerslider.kreaturamedia.jquery.js"></script>

<script src="{{ STATIC_URL }}js/excanvas.js"></script>
<script src="{{ STATIC_URL }}js/jquery.flot.js"></script>
<script src="{{ STATIC_URL }}js/jquery.flot.pie.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.flot.stack.js"></script>
<script src="{{ STATIC_URL }}js/jquery.flot.resize.min.js"></script>

<script defer="defer" src="{{ STATIC_URL }}js/modernizr.js"></script>
<script defer="defer" src="{{ STATIC_URL }}js/retina.js"></script>
<script defer="defer" src="{{ STATIC_URL }}js/custom.js"></script>
</div>
<!-- end: Java Script -->

{% endblock %}
